<div class="text-content-1">
  <h2>Projeto Coleiras Amorosas</h2>
  <p>O projeto Coleiras Amorosas, é um projeto com o intuito de ajudarmos a resgatar animais que não tem um lar, realizamos adoções de maneira responsável a cães e gatos através do nosso site, ou outro contato como Instagram, telefone e WhatsApp.</p>
  <p>Como não conseguimos resgatar e salvar a todos os animais, trabalhamos também fazendo uma conscientização e orientação da população para que pessoas que encontrem um animal em perigo, ou que não tenham mais a condição de cuidar do animal possam ajudar e também fazer a diferença!</p>
  <p>Atuamos de forma independente, e para isso, também abrimos uma loja virtual onde quem adota um animal também possa adquirir nossos produtos! Contamos com a colaboração de pessoas que acreditam em nosso trabalho.</p>
</div>
<div class="text-content-2">
  <h2>Nossos Programadores</h2>
  <p>João Vieira e Rielly Spencer são os programadores responsáveis pelo desenvolvimento do nosso site, que é a principal ferramenta para as adoções de animais. Eles trabalharam incansavelmente para garantir que o site fosse fácil de usar e intuitivo para os nossos usuários.</p>
  <p>Nós somos muito gratos pela contribuição deles para o nosso projeto e estamos felizes em tê-los como parte da nossa equipe.</p>
</div>
