<div class="first-content">
    <div class="pet-content-1"> 
    <img src="../images/pets/esseBonitinho.jpg" class="home-img-1" alt="">
    <div class="credit-1">Foto: Unsplash</div>
    <img src="../images/pets/pugPreto.jpg" class="home-img-2" alt="">
    <div class="credit-2">Foto: Unsplash</div>
    </div>
    <div class="text-content-1">
        <h2>Me Leva Pra Casa</h2>
        <p>Este é o espaço virtual do Me Leva Pra Casa, criado para cuidar de cães e gatos que estão à espera de uma nova família nas fazendas mantidas pela Vale em Brumadinho, Barão de Cocais e Itabirito, além de pet hotéis conveniados. Aqui, conectamos as pessoas que buscam um bichinho àqueles que precisam de um lar.</p>
        <p>Parte dos animais que você vai conhecer foi resgatada nas áreas atingidas pelo rompimento da barragem B1, em Brumadinho, e em cidades que tiveram áreas evacuadas em Minas Gerais. Enquanto esperam pela adoção, os animais contam com um time de especialistas que oferece todos os cuidados de que precisam.</p>
    </div>
</div>
<div class="second-content">
    <div class="text-content-2">
        <h2>Conheça os animais</h2>
        <h3>Em nossos espaços, temos cães<br> e gatos para todos os perfis e lares.</h3>
        <p>Navegue abaixo, para acessar às fotos e tudo que você <br>precisa saber sobre os pets: nome, grupo etário, porte, sexo, <br> se é castrado ou não, se há alguma necessidade especial ou <br> doença, além do perfil social.</p>
    </div>
    <div class="pet-content-2">
        <img src="../images/pets/petsPng.png" class="home-img-3" alt="">
        <div class="credit-3">Foto: Unsplash</div>
    </div>
</div>