<div class='l-container'>
    <div class='l-card'>
      <h1 class="h1"> Entrar </h1>
      <div id='msgError'></div>
      <form id="form">
  
  
  <div class='label-float'>
    <input class="input-float" type='text' id='email' name='email' placeholder='' required>
    <label class="label-name" id='emailLabel' for='email'>E-mail</label>
  </div>
  
  <div class='label-float'>
    <input class="input-float" type='password' id='password' name='password' placeholder='' required>
    <label class="label-name" id='senhaLabel' for='password'>Senha</label>
    <i id="verSenha" class="fa-sharp fa-solid fa-eye-slash" aria-hidden="true"></i>
  </div>
  
  <div class='justify-center'>
    <button type="submit" class='btn-class'>Entrar</button>
  </div>
  
  <div class='justify-center'>
    <hr id="hr" color="#1e8d90">
  </div>
  
  <p class='par'> Não tem uma conta?
    <a class="a-link" href='/signup'> Cadastre-se </a>
  </p>
</form>

      
    </div>
    </div>