<div class="item" id="saved-items-container">
</div>
<!-- TOTAL -->
<div class="total" id="total-id">
<div class="total-title" id="total-title-id">Total:</div>
<div class="total-price" id="total-price-id">R$ 0</div>
</div>
<section>


<button type="button" onclick="keepBuying()">Continuar Comprando</button>