<div class="containerahk">
      <h1>Política de Privacidade</h1>
      <p>A Empresa Coleiras Amorosas  está comprometida em proteger sua privacidade e seus dados pessoais. Esta política descreve como coletamos, usamos e protegemos as informações que você nos fornece.</p>
      <h2>Coleta de informações</h2>
      <p>Coletamos informações pessoais quando você se cadastra em nosso site, preenche um formulário, faz uma compra ou se comunica conosco por e-mail ou telefone.</p>
      <h2>Uso de informações</h2>
      <p>Usamos suas informações pessoais para processar pedidos, enviar atualizações sobre seu pedido, enviar informações sobre produtos e serviços, enviar newsletters e comunicados de marketing, além de personalizar sua experiência no site.</p>
      <h2>Proteção de informações</h2>
      <p>Implementamos medidas de segurança para proteger suas informações pessoais, incluindo o uso de criptografia e firewall.</p>
      <h2>Compartilhamento de informações</h2>
      <p>Não compartilhamos suas informações pessoais com terceiros, exceto quando necessário para processar pedidos ou atender solicitações legais ou governamentais.</p>
      <h2>Alterações na política de privacidade</h2>
      <p>Podemos atualizar esta política de privacidade de tempos em tempos. A versão mais recente estará sempre disponível em nosso site.</p>
      <h2>Contato</h2>
      <p>Se você tiver alguma dúvida ou preocupação sobre nossa política de privacidade, entre em contato conosco através do e-mail coleirasamorosas@gmail.com.</p>
</div>